#!/usr/bin/env python
# -*- coding=UTF-8 -*-
# *************************************************************************
#   Copyright © 2015 JiangLin. All rights reserved.
#   File Name: config_example.py
#   Author:JiangLin
#   Mail:xiyang0807@gmail.com
#   Created Time: 2015-10-25 08:01:06
# *************************************************************************
from datetime import timedelta

DEBUG = True
SECRET_KEY = ''
SECURITY_PASSWORD_SALT = ''

PERMANENT_SESSION_LIFETIME = timedelta(days=3)

ONLINE_LAST_MINUTES = 5

# 定制缓存 = 60
CACHE_DEFAULT_TIMEOUT = 60
CACHE_KEY_PREFIX = ''
CACHE_REDIS_HOST = ''
CACHE_REDIS_PORT = ''
CACHE_REDIS_PASSWORD = ''
CACHE_REDIS_DB = 1
# CACHE_ARGS
# CACHE_OPTIONS
# CACHE_REDIS_URL

MAIL_SERVER = ''
MAIL_PORT =
MAIL_USE_TLS =
MAIL_USE_SSL =
MAIL_USERNAME = ""
MAIL_PASSWORD = ""
MAIL_DEFAULT_SENDER = ''

SQLALCHEMY_TRACK_MODIFICATIONS =
SQLALCHEMY_DATABASE_URI = ''
