Babel==2.3.4
bleach==1.4.3
cffi==1.7.0
cssmin==0.2.0
Flask==0.11.1
Flask-Admin==1.4.2
Flask-Assets==0.12
Flask-Avatar==0.1.2
Flask-BabelEx==0.9.3
Flask-Cache==0.13.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Maple==0.5.0
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-WTF==0.13.1
gevent==1.1.2
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
jsmin==2.2.1
Pillow==3.4.2
psycopg2==2.6.2
redis==2.10.5
SQLAlchemy==1.1.3
