{% extends 'base/base.html' %}
{% import 'base/header.html' as header %}
{% block header -%}
{{ header.header('question') }}
{% endblock %}
{% block list -%}
{{ header.list('question') }}
{% endblock %}

{% block title -%}
{{ question.title }}- HonMaple {{_('Answer')}}
{%- endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-9">
        <span class="question">问</span>
        <span style="font-size:18px;">
            {{ question['title'] }}
        </span>
        <br />
        <span class="question">描</span>
        <i>
            {{ question['describ'] }}
        </i>
        <br />
        <span class="question">答</span>
        <span style="font-size:16px">
            {{ question['answer'] }}
        </span>
        <br />
        <br />
    </div>
</div>
{%- endblock %}
