{% extends 'index/base.html' %}
{% block content %}
<style type="text/css" media="all">
    .question {
        display: inline-block;
        background-color: #a40000;
        padding: 2px;
        border: 1px solid #a40000;
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
        border-radius: 2px;
        margin-right: 5px;
        vertical-align: 1px;
        text-decoration: none;
        color: #FBFBFB;
    }
    .answer {
        color: #ad1616;
    }
</style>
<div class="row">
    <div class="col-sm-9">
        <span class="question">问</span>
        <span style="font-size:18px;">
            {{ question['title'] }}
        </span>
        <br />
        <span class="question">描</span>
        <i>
            {{ question['describ'] }}
        </i>
        <br />
        <span class="question">答</span>
        <span style="font-size:16px">
            {{ question['answer'] }}
        </span>
        <br />
        <br />
    </div>
</div>
{% endblock %}
