<div class="panel panel-default transparency7">
      <div class="panel-heading" style="background-color:rgba(255, 255, 255, 0.3);">
        <i class="fa fa-comment-o" aria-hidden="true" style="color:#a40000"></i>
        {{ _('Publish') }}
    </div>
      <div class="panel-body panel-body-border">
        <form method="" action="">
          <div class="form-group">
            <textarea  class="form-control" name="content" id="content" rows="5" placeholder="请输入内容"></textarea>
        </div>
          <div class="row">
            <div class="form-group col-md-4">
              <input class="form-control" type="" name="" placeholder="昵称" />
          </div>
            <div class="form-group col-md-4">
              <input class="form-control" type="" name="" placeholder="邮箱" />
          </div>
            <div class="form-group col-md-4">
              <button type="submit" class="btn btn-primary" style="width:100%;" >{{ _('Publish') }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
