<ul class="nav navbar-nav navbar-right">
    {% if g.user.is_authenticated %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ current_user.username }}<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ url_for('user.infor',name=current_user.username) }}">{{_('My Page')}}</a></li>
            <li><a href="{{ url_for('auth.logout') }}">{{ _('logout')}}</a></li>
        </ul>
    </li>
    {% else %}
    <li><a href="{{ url_for('auth.login') }}">{{_('login')}}</a></li>
    <li><a href="{{ url_for('auth.register') }}">{{ _('register')}}</a></li>
    {% endif %}
</ul>
