{% extends 'maple/base.html' %}
{% from 'base/paginate.html' import paginate %}

{% block title -%}
  {{_("honmaple's blog")}} - {{_('Love is precious, free price is higher.')}}
{% endblock %}

{% block style -%}
  {{ super() }}
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
   body {
       background-color: #ffffff;
       background-image: url('{{ url_for('static',filename='images/snow.jpg') }}');
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size:100% 100%;
       color:#444;
   }
  </style>
{%- endblock -%}

{% block main %}
  <nav class="navbar navbar-default  col-md-offset-1 col-md-10 header-back">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-header" aria-expanded="false">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% block header %}
          <a class="navbar-brand" href="{{ url_for('index.index') }}" style="color:#EB5424;">HonMaple</a>
        {% endblock %}
      </div>
      <div class="collapse navbar-collapse" id="bs-header">
        {% block list %}
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('blog.bloglist') }}">{{_('Blog')}}</a></li>
            <li><a href="{{ url_for('question.quelist') }}">{{ _('Answer')}}</a></li>
            <li><a href="https://cloud.honmaple.com">{{ _('Cloud')}}</a></li>
            <li><a href="{{ url_for('index.about') }}">{{_('About me')}}</a></li>
          </ul>
        {% endblock %}
        <form onsubmit="return dispatch()" class="navbar-form navbar-right" style="margin-top:10px;" >
          <div class="form-group has-feedback">
            <input class="form-control input-sm" id="search" name="search" placeholder="搜索内容" type="text" value="">
            <i class="fa fa-search form-control-feedback"></i>
          </div>
        </form>
      </div>
    </div>
  </nav>
  <div class="col-md-offset-1 col-md-10 padding">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-info" style="padding:8px">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <ul>
            {% for message in messages %}
              <li>{{ message }} </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>
{%- endblock -%}

