{% macro header(class) -%}
{% if class == "blog" %}
<a class="navbar-brand" href="{{ url_for('blog.bloglist') }}" style="color:#EB5424;">{{_('Blog')}}</a>
{% elif class == "book" %}
<a class="navbar-brand" href="{{ url_for('book.booklist') }}" style="color:#EB5424;">{{_('Book')}}</a>
{% elif class == "question" %}
<a class="navbar-brand" href="{{ url_for('question.index') }}" style="color:#EB5424;">{{_('Answer')}}</a>
{% else %}
<a class="navbar-brand" href="{{ url_for('index.index') }}" style="color:#EB5424;">HonMaple</a>
{% endif %}
{%- endmacro %}

{% macro list(class) -%}
{% if class == "blog" %}
<ul class="nav navbar-nav">
    <li> <a href="{{ url_for('index.index') }}">{{_( 'HOME' )}}</a></li>
    <li> <a href="{{ url_for('blog.category',category='linux') }}">Linux</a></li>
    <li> <a href="{{ url_for('blog.category',category='python') }}">Python</a></li>
    <li> <a href="{{ url_for('blog.category',category='html') }}">{{_('Web前端')}}</a></li>
    <li> <a href="{{ url_for('blog.category',category='security') }}">{{_('Web安全')}}</a></li>
    <li> <a href="{{ url_for('blog.category',category='生活随笔') }}">{{ _('Life')}}</a></li>
    <li> <a href="{{ url_for('blog.archives') }}">Archives</a></li>
    <li> <a href="{{ url_for('blog.feed') }}">RSS</a></li>
</ul>
{% elif class == "book" %}
<ul class="nav navbar-nav">
    <li><a href="{{ url_for('index.index') }}">{{_( 'HOME' )}}</a></li>
    <li><a href="{{ url_for('book.tag',tag='哲学') }}">哲学</a></li>
    <li><a href="{{ url_for('book.tag',tag='社会学') }}">社会学</a></li>
    <li><a href="{{ url_for('book.tag',tag='工具书') }}">工具书</a></li>
</ul>
{% elif class == "question" %}
<ul class="nav navbar-nav">
    <li><a href="{{ url_for('index.index') }}">{{_( 'HOME' )}}</a></li>
    <li><a href="{{ url_for('question.index') }}">{{ _('All Questions')}}</a></li>
    <li><a href="{{ url_for('question.private') }}">{{ _('Private Questions')}}</a></li>
</ul>
{% else %}
<ul class="nav navbar-nav">
    <li><a href="{{ url_for('blog.bloglist') }}">{{_('Blog')}}</a></li>
    <li><a href="{{ url_for('book.booklist') }}">{{ _('Books')}}</a></li>
    <li><a href="{{ url_for('question.quelist') }}">{{ _('Answer')}}</a></li>
    <li><a href="{{ url_for('index.about') }}">{{_('About me')}}</a></li>
</ul>
{% endif %}
{%- endmacro %}
