<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{%- endblock -%}</title>
    {%- block style %}
      <link href="https://static.honmaple.com/static/css/lib.min.css" rel="stylesheet">
      {%- assets "home_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
      {%- endassets %}
    {%- endblock %}
  </head>
  <body>
    {% block wrap -%}
      <div class="wrap">
        <div class="main" style="max-width: 1024px; margin:0 auto;">
          {% block main -%}{%- endblock -%}
        </div>
      </div>
      {% block footer -%}
        {% include 'maple/footer.html' %}
      {%- endblock -%}
    {%- endblock wrap %}
    {%- block script %}
      <script src="https://static.honmaple.com/static/js/lib.min.js"></script>
      <script type="text/javascript">
       var g = {
           csrftoken: "{{ csrf_token() }}"
       };
       $(document).ready(function() {$('.entry-content pre').each(function(i, block) {hljs.highlightBlock(block);});})
      </script>
      {%- assets "home_js" -%}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {%- endassets %}
    {%- endblock -%}
  </body>
</html>
