{% extends 'base/base.html' %}

{% block title -%}{{ _("Friends") }} · {{ super() }}{% endblock %}

{% block content %}
<div class="panel panel-default trans">
    <div class="panel-heading" style="background-color:rgba(255, 255, 255, 0.5);">
        <b>{{ _('Friends') }}</b>
    </div>
    <div class="panel-body panel-body-bottom">
        <div class="row">
            {{ media('honmaple论坛','爱生活，更爱自由','/static/images/header.png','https://forums.honmaple.org') }}
            {{ media('honmaple\'blog','自由','/static/images/header.png','http://honmaple.org') }}
        </div>
    </div>
</div>
{% endblock %}

{% macro media(title,description,img,href) -%}
<div class="col-md-3" style="margin-bottom:5px;">
    <div class="media">
        <a class="media-left" href="{{ href }}" target="_blank">
            <img src="{{ img }}" style="width:64px;" class="img-circle" />
        </a>
        <div class="media-body"  style="padding-top:9px;">
            <h5 class="media-heading"><b>{{ title }}</b></h5>
            <small>
                {{ description }}
            </small>
        </div>
    </div>
</div>
{%- endmacro %}
