<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>HonMaple' Blog</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='style/css/rain.css') }}" type="text/css" media="screen" />
        {%- assets "home_js" -%}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {%- endassets %}
    </head>
    <body translate="no" class="thunder">
        <!-- 刷新一下 -->
        <canvas id="canvas1" width="1349" height="410"></canvas>
        <canvas id="canvas2" width="1349" height="410"></canvas>
        <canvas id="canvas3" width="1349" height="410"></canvas>
        <script type="text/javascript">Rain();</script>
        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-88401692-1', 'auto');
         ga('send', 'pageview');

        </script>
    </body>
</html>
