{% extends 'maple/base.html' %}

{% block style -%}
{{ super()}}
<link href="{{ url_for('static',filename='style/about.css')}}" rel="stylesheet"/>
{%- endblock %}

{% block main %}
<div class="panel panel-primary">
    <div class="panel-body font-big">
        <div class="row">
            <div class="col-xs-5">
                <section style="color:#616161;">
                    <h3 class="fortitle">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        基本信息
                    </h3>
                    <dl>
                        <dd>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span class="basicle">个人信息:</span>
                            <span>男</span>
                        </dd>
                        <dd>
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                            <span class="basicle">教育经历:</span>
                            <span>本科/河海大学/物联网工程学院/自动化专业  2017届毕业生</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="basicle">联系方式:</span>
                        </dt>
                        <dd>
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            <span><b>邮箱:</b>xiyang0807@gmail.com</span>
                            <br/>
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                            <span><b>手机:</b></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                            <span class="basicle">技术博客</span></dt>
                        <dd>
                            <span><b>自建:</b> https://honmaple.com</span> <br>
                            <span><b>基于pelican:</b> http://honmaple.org</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                            <span class="basicle">Github</span></dt>
                        <dd>
                            <span>https://github.com/honmaple</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
                            <span class="basicle">期望岗位</span></dt>
                        <dd>
                            <span><b>web后端</b></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="glyphicon glyphicon-oil" aria-hidden="true"></span>
                            <span class="basicle">期望城市</span></dt>
                        <dd>
                            <span><b>长三角及附近</b></span>
                        </dd>
                    </dl>
                </section>
                <section>
                    <h3 class="fortitle">
                        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                        技能清单
                    </h3>
                    <h4 class="protitle">后端</h4>
                    <span class="circle"></span>
                    <ul class="line">
                        <li>
                            <h4 class="protitle">Python</h4>
                            <p class="protent">
                                <p>
                                    熟悉Python基本语法，熟悉flask及django web框架,
                                    熟悉BeautifulSoup,fabric,apscheduler等模块
                                </p>
                                <p>
                                    对scrapy,pyside,python-cocos2d,pyserial及也有所了解
                                </p>
                            </p>
                        </li>
                        <li>
                            <h4 class="protitle">数据库</h4>
                            <p class="protent">
                                <p>
                                    熟悉postgresql,mysql基本命令,熟练掌握sqlalchemy对数据的操作
                                </p>
                                <p>
                                    熟悉redis原生命令,熟悉python对redis的操作及redis基本缓存原理
                                </p>
                            </p>
                        </li>
                        <li>
                            <h4 class="protitle">linux</h4>
                            <p class="protent">
                                <p>
                                    日常使用linux单系统,了解linux基本命令，简单shell脚本,以及基础服务搭建
                                </p>
                                <p>
                                    近一年建站经验,对自动化部署,supervisor,nginx等有一定了解.
                                </p>
                            </p>
                        </li>
                    </ul>
                    <h4 class="protitle">前端</h4>
                    <span class="circle"></span>
                    <ul class="line">
                        <li>
                            <h4 class="protitle">HTML/CSS</h4>
                            <p class="protent">了解html和css语法，能够看懂并对前端进行修改,掌握bootstrap的用法</p>
                        </li>
                        <li>
                            <h4 class="protitle">javascript</h4>
                            <p class="protent">了解javascript原生语法，能够掌握jquery与ajax的基本用法</p>
                        </li>
                    </ul>
                    <h4 class="protitle">其他</h4>
                    <span class="circle"></span>
                    <ul class="line">
                        <li>
                            <p class="protent">熟练使用git进行开发</p>
                        </li>
                        <li>
                            <p class="protent">熟练使用emacs,vim,了解vim基本命令</p>
                        </li>
                        <li>
                            <p class="protent">熟练掌握markdown,org-mode</p>
                        </li>
                        <li>
                            <p class="protent">对c有一定了解</p>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3 class="fortitle">
                        <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                        目标
                    </h3>
                    <h4 class="protitle">全栈工程师</h4>
                </section>
            </div>
            <div class="col-xs-7">
                <section>
                    <h3 class="fortitle">
                        <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                        项目经验
                    </h3>
                    <span class="circle"></span>
                    <ul class="line">
                        <li>
                            <h4 class="protitle">Honmaple论坛
                                <a class="labelink" href="https://forums.honmaple.org" target="_blank">
                                    <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                                    Demo
                                </a>
                                <a class="labelink" href="https://github.com/honmaple/maple-bbs" target="_blank">
                                    <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                                    源码
                                </a>
                            </h4>
                            <div class="protent">
                                <p>
                                    论坛后端基于flask,主数据库使用postgresql,部分统计信息 使用redis,使用sqlalchemy对数据进行操作;
                                </p>
                                <p>
                                    主要功能:用户注册,忘记密码,发帖,回复,签到,收藏,点赞,用户组以及用户权限管理等.
                                </p>
                            </div>
                            <img src="{{ url_for('static',filename='images/hohai.png') }}" alt="论坛">
                        </li>
                    </ul>
                    <span class="circle"></span>
                    <ul class="line">
                        <li>
                            <h4 class="protitle">个人博客
                                <a class="labelink" href="https://honmaple.com" target="_blank">
                                    <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                                    Demo
                                </a>
                                <a class="labelink" href="https://github.com/honmaple/maple-blog" target="_blank">
                                    <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                                    源码
                                </a>
                            </h4>
                            <div class="protent">
                                <p>
                                    这是学习python及flask以来第一个较完整的项目,分为个人博客，自问自答，书籍查询模块;
                                </p>
                                <p>个人博客采用markdown后台发表,有标签，评论等功能;</p>
                                <p>自问自答用来记录笔记(包括私人笔记功能);</p>
                                <p>书籍查询中的书籍利用爬虫抓取自豆瓣读书.</p>
                            </div>
                            <img src="{{ url_for('static',filename='images/blog.png') }}" alt="个人博客">
                        </li>
                    </ul>
                    <span class="circle"></span>
                    <ul class="line">
                        <li>
                            <h4 class="protitle">爬虫相关
                                <a class="labelink" href="https://github.com/honmaple/Python" target="_blank">
                                    <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                                    beautifulsoup
                                </a>
                                <a class="labelink" href="https://github.com/honmaple/maple-spider" target="_blank">
                                    <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                                    scrapy
                                </a>
                            </h4>
                            <div class="protent">
                                <p>包括爬取学校新闻,学院公告,图书馆书籍查询,豆瓣读书爬取,ip代理爬取等.</p>
                            </div>
                        </li>
                    </ul>
                    <span class="circle"></span>
                    <ul class="line">
                        <li>
                            <h4 class="protitle">留言簿,投票与在线聊天
                                <a class="labelink" href="https://honmaple.cn" target="_blank">
                                    <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                                    Demo
                                </a>
                                <a class="labelink" href="https://github.com/honmaple/flask-word" target="_blank">
                                    <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                                    源码
                                </a>
                            </h4>
                            <div class="protent">
                                <p> 使用socketio实现的简单在线实时聊天; </p>
                                <p>使用flask,jquery,ajax等实现的简单留言簿,数据存储使用redis,表单提交使用ajax，实现局部刷新留言;</p>
                                <p>投票使用redis存储结果,修改文件更改投票内容.</p>
                            </div>
                        </li>
                    </ul>
                    <span class="circle"></span>
                    <ul class="line">
                        <li>
                            <h4 class="protitle">上位机与下位机通信
                                <a class="labelink" href="https://github.com/honmaple/upper" target="_blank">
                                    <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                                    源码
                                </a>
                            </h4>
                            <div class="protent">
                                <p>上位机使用pyside编写的图形界面,
                                    使用pyserial进行串口读写,
                                    使用c编写下位机
                                </p>
                            </div>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3 class="fortitle">
                        <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
                        实习经历
                    </h3>
                    <h4 class="protitle">上海某公司</h4>
                    <span class="circle"></span>
                    <ul class="line">
                        <li>
                            <p class="protent">
                                负责web后端(基于django)api的维护,修复，及添加新的功能,通过mqtt与硬件交互,完善智能仓储物流系统
                            </p>
                        </li>
                        <li>
                            <p class="protent">
                                独立完成定时任务(基于apscheduler)的编写,采用flask + apscheduler + restful模式,可通过api添加删除定时任务
                            </p>
                        </li>
                        <li>
                            <p class="protent">
                                独立完成自动化部署(基于fabric)的编写,采用virtualenv + virtualenvwrapper + supervisor + nginx + gunicorn(or uwsgi)模式
                            </p>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3 class="fortitle">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        个人经历及自我评价
                    </h3>
                    <h4 class="protitle">2014.3~2014.7</h4>
                    <span class="circle"></span>
                    <ul class="line">
                        <li>
                            <p class="protent">自学了html/css,在此期间接触过asp,php</p>
                        </li>
                    </ul>
                    <h4 class="protitle">2014.7~2014.9</h4>
                    <span class="circle"></span>
                    <ul class="line">
                        <li>
                            <p class="protent">期间学了java,写过android</p>
                        </li>
                    </ul>
                    <h4 class="protitle">2014.9~2015.3</h4>
                    <span class="circle"></span>
                    <ul class="line">
                        <li>
                            <p class="protent">这期间折腾linux,学习linux命令,学习搭建各种服务</p>
                        </li>
                    </ul>
                    <h4 class="protitle">2015.3~2015.6</h4>
                    <span class="circle"></span>
                    <ul class="line">
                        <li>
                            <p class="protent">系统的自学了一遍linux的shell编程,并且接触了git，vim，emacs,markdown等开发利器</p>
                        </li>
                    </ul>
                    <h4 class="protitle">2015.6~至今</h4>
                    <span class="circle"></span>
                    <ul class="line">
                        <li>
                            <p class="protent">
                                学习python,利用python写了爬虫,跟着flask文档边学边写了个人博客网站,利用2016寒假写了Honmaple论坛
                            </p>
                        </li>
                    </ul>
                    <h4 class="protitle">自我评价</h4>
                    <span class="circle"></span>
                    <ul class="line">
                        <li>
                            <p>热爱自由，喜好编程,喜欢接触新事物，爱折腾</p>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
