{% extends "base/base.html" %}
{% import 'base/header.html' as header %}
{% block header -%}
{{ header.header('index') }}
{% endblock %}
{% block list -%}
{{ header.list('index') }}
{% endblock %}

{% block title -%}
{{_('login')}} - HonMaple
{%- endblock %}

{% block script -%}
<script type=text/javascript>
 var url = {
     login: "{{ url_for('auth.login') }}",
     index: "{{ request.args.get('next') or '/' }}"
 };
</script>
<script type="text/javascript" src="{{ url_for('static',filename='style/login.js') }}"></script>
{% endblock %}

{%- block content -%}
<table align="center" style="font-size:14px;">
    <tr>
        <td colspan="2">
            <div class="alert alert-info" id="showerror" style="padding:8px;">
                <button type="button" class="close" id="hide">
                    <span aria-hidden="true">&times;</span>
                </button>
                <ul>
                    <li id="error"></li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td>{{ form.name.label }}</td>
        <td style="padding-bottom:10px;"> {{ form.name(class="form-control",placeholder="name",style="width:240px") }}</td>
    </tr>
    <tr>
        <td>{{ form.passwd.label }}</td>
        <td style="padding-bottom:10px;">{{ form.passwd(class="form-control",placeholder="password",style="width:240px") }}</td>
    </tr>
    <tr>
        <td>{{ form.code.label }}</td>
        <td colspan="2" style="padding-bottom:10px;"> 
            {% include 'auth/validate.html' %}
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="padding-bottom:10px;">
            <button type="button" class="btn btn-primary" id="login">{{_('login')}}</button> 
            <a href="{{ url_for('auth.forget') }}">{{_('forget password?')}}</a>
        </td>    
    </tr>
    <tr>
        <td></td>
        <td>{{ form.remember() }} {{ form.remember.label}}</td>
    </tr>
    <tr>
        <td></td>
        <td><a href="{{ url_for('auth.register') }}">{{ _('not register')}}</a></td>
    </tr>
</table>
{% endblock %}


