img {width:100%}
li {
    list-style-type:none;
}
.padding {padding:0}
.margin {margin:0}
.padgin {padding:0;margin:0}
.font-small {font-size:12px}
.font-big {font-size:16px}
.header-color {color:#eb5424}
.header-back {background:#fff;padding:0;margin-bottom:10px;}
.category {
    margin-bottom:15px;
    background:#fff;
    border:1px solid #ddd;
    box-shadow:0px 0px 1px #ddd;
    border-radius: 3px;
}
.tags {
    color:#999;
}
.question {
    display: inline-block;
    background-color: #a40000;
    padding: 2px;
    border: 1px solid #a40000;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    border-radius: 2px;
    margin-right: 5px;
    vertical-align: 1px;
    text-decoration: none;
    color: #FBFBFB;
}
.answer {
    color: #ad1616;
}
.cate {
    padding:0 4px;
}
span.content h1 {
    font-size:25px;
}
span.content h2 {
    font-size:22px;
}
span.content h3 {
    font-size:19px;
}
span.content blockquote {
    font-size:16px;
    color:#999;
}
span.content ul {
    padding-left:16px;
}
span.content ol {
    padding-left:16px;
}
span.content li {
    list-style-type:circle;
}
.blog-content {
    color: #555;
}
.blog-content h1 {
    font-size:25px;
    font-weight:bold;
}
.blog-content h2 {
    font-size:22px;
    font-weight:bold;
}
.blog-content h3 {
    font-size:19px;
    font-weight:bold;
}
.blog-content blockquote {
    font-size:16px;
    color:#999;
}
.blog-content ul {
    padding-left:16px;
}
.blog-content ol {
    padding-left:16px;
}
.blog-content li {
    list-style-type:circle;
}
.blog-content img {
    max-width: 100%;
    height: auto;
    display: block;
}
code.hljs {
    padding: 6px 16px;
}
.blog-content pre,.blog-content .highlight,span.content pre, span.content .highlight {
    margin: 0 -16px;
    padding: 0;
    border-style: solid;
    border-color: #eceff2;
    border-width: 1px 0;
    overflow: auto;
    line-height: 22.400000000000002px;
}
.label-tag {
    background-color: #ab5424;
}
