{% macro header() -%}
<a class="navbar-brand" href="{{ url_for('book.booklist') }}" style="color:#EB5424;">{{_('BOOK')}}</a>
{%- endmacro %}

{% macro headerlist() -%}
<ul class="nav navbar-nav">
    <li><a href="{{ url_for('index.index') }}">{{_( 'HOME' )}}</a></li>
    <li><a href="{{ url_for('book.booklist',tag='哲学') }}">哲学</a></li>
    <li><a href="{{ url_for('book.booklist',tag='社会学') }}">社会学</a></li>
    <li><a href="{{ url_for('book.booklist',tag='工具书') }}">工具书</a></li>
</ul>
{%- endmacro %}
