{% extends 'book/base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-9">
    <div class="row" style="padding:0">
      {% for book in books.items %}
      {{ item(book) }}
      {% endfor %}
    </div>
    {{ paginate(books,'book.booklist')}}
  </div>
  <div class="col-sm-3" id="book-tags"></div>
  <script type="text/javascript">
   $.get("{{ url_for('book.taglist') }}",function(data){
       $('#book-tags').html(data);
   });
  </script>
</div>
{% endblock %}

{% macro item(book) -%}
<div class="col-xs-4 col-sm-2 text-center">
  <div style="height:160px;width:auto">
    <img src="{{ url_for('images',filename='books/'+book.name+'.jpg') }}" alt="book" style="width:80px;height:120px;"/>
    <br />
    <a href="{{ url_for('book.book',bookId=book.id) }}">{{ book.name }}</a>
  </div>
</div>
{%- endmacro %}
