{% extends 'base/base.html' %}
{% from 'book/_macro.html' import header %}
{% from 'book/_macro.html' import headerlist %}

{% block title -%}
{{ _('%(name)s - 书籍查询 - HonMaple', name=data.name) }}
{% endblock %}

{% block header -%}
{{ header() }}
{%- endblock header %}

{% block list -%}
{{ headerlist() }}
{%- endblock list %}

{% block content %}
{% set book = data %}
<div>
    <div class="pull-left">
        <img src="{{ url_for('static',filename='book_image/'+book.name+'.jpg') }}" alt="book" style="width:80px;height:120px;" />
    </div>
    <div>
        <p>
            <ul>
                <li> <b>书籍名称:</b>  {{ book.name }}</li>
                <br />
                <li> <b>类型:</b>  {{ book.tag }}</li>
                <br />
                <li> <b>title:</b>  {{ book.title }}</li>
                <br />
                <br />
                <li> <b>作者简介:</b>  {{ book.author }}</li>
                <br />
                <li> <b>内容概要:</b>  {{ book.content }}</li>
            </ul>
        </p>
    </div>
</div>
{% endblock %}
