{% extends 'book/base.html' %}
{% block content %}
<div class="media">
  <div class="media-left media-middle">
    <a href="{{ url_for('book.book',bookId=book.id) }}">
      <img :src="{{ url_for('images',filename='books/'+book.name+'.jpg') }}" class="media-object" style="width:80px;height:120px;"/>
    </a>
  </div>
  <div class="media-body">
    <p><b>书籍名称:</b>  {{ book.name }}</p>
    <p><b>类型:</b>  {{ book.tag }}</p>
    <p><b>title:</b>  {{ book.title }}</p>
  </div>
  <p><b>作者简介:</b>  {{ book.author }}</p>
  <p><b>内容概要:</b>  {{ book.content }}</p>
</div>
{% endblock %}
