<!DOCTYPE html>
{% extends 'book/book_base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-9">
        <table style="text-align:center;width:100%;table-layout:fixed ;">
            {% for i in range(3) %}
            <tr>
                {% for book in books[(number-1)*15+i*5:(number-1)*15+5+i*5] %}
                <td width=20%>
                    <img src="{{ url_for('static',filename='book_image/'+book['name']+'.jpg') }}" alt="book" style="width:80px;height:120px;" class="center-block"/>
                    <br />
                    <a href="{{ url_for('book.book_intro',name=book['name']) }}">{{ book['name'] }}</a> 
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5">
                    <ul class="pagination">
                        {% if number == 1 %}
                        <li class="disabled">
                            <a href="{{ url_for('book.index_num',num=number-1) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{{ url_for('book.index_num',num=number-1) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}

                        {% if number > total-5 %}

                        {% for i in range(add,total) %}
                        {% if number == i+1 %}
                        <li class="active"><a href="{{ url_for('book.index_num',num=i+1) }}">{{ i+1 }}</a></li>
                        {% else %}
                        <li><a href="{{ url_for('book.index_num',num=i+1) }}">{{ i+1 }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% else %}

                        {% for i in range(add,add+5) %}
                        {% if number == i+1 %}
                        <li class="active"><a href="{{ url_for('book.index_num',num=i+1) }}">{{ i+1 }}</a></li>
                        {% else %}
                        <li><a href="{{ url_for('book.index_num',num=i+1) }}">{{ i+1 }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                        {% if number < total-5 %}
                        <li><a href="{{ url_for('book.index_num',num=add+6) }}">......</a></li>
                        <li><a href="{{ url_for('book.index_num',num=total-1) }}">{{ total-1 }}</a></li>
                        <li><a href="{{ url_for('book.index_num',num=total) }}">{{ total }}</a></li>
                        {% endif %}
                        <li>
                            <a href="{{ url_for('book.index_num',num=number+1) }}" aria-label="Previous">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </td> 
            </tr>
        </table>
    </div>
    <div class="col-sm-3">
        {% for book_type in book_all_type %}
        <span class="label label-info" style="display: inline-block;">
            <a href="{{ url_for('book.type',type=book_type['tag']) }}" style="color:#fff;">{{ book_type['tag'] }}</a>
        </span>
        {% endfor %}
    </div>
    </div>
    {% endblock %}
