<!DOCTYPE html>
{% extends 'blog/blog_base.html' %}
{% block content %}
<ul>
    {% for tag in tags %}
    {% for article in tag.tag_article %}
    <li class="category">
        <span>
            <h3> <a href="{{ url_for('blog.page',id=article.id) }}" target=_blank>{{ article.title }}</a></h3>
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            {{ article.publish }}
            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
            {% for t in article.tag_article %}
            <a href="{{ url_for('blog.tag_num',tag=t.name) }}" style="color:#000">{{ t.name }}</a>
            {% endfor %}
            <br />
            <br />
            {{ article.content | truncate(255, True)| safe_markdown }}
        </span>
        <span style="display:block;text-align:right;width:100%;"> 
            <a href="{{ url_for('blog.page',id=article.id) }}">more>></a>
        </span>
    </li>
    {% endfor %}
    {% else %}
    <li>No post.</li>
    {% endfor %}
</ul>
<div style="text-align:center;margin-top:-15px">
    <ul class="pagination">
        {% if number == 1 %}
        <li class="disabled">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% else %}
        <li>
            <a href="{{ url_for('blog.tag_num',tag=tag,number=number-1) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% for num in range(count) %}
        {% set num = num + 1 %}
        {% if num == number %}
        <li class="active"><a href="{{ url_for('blog.tag_num',number=num,tag=tag) }}">{{ num }}</a></li>
        {% else %}
        <li><a href="{{ url_for('blog.tag_num',number=num,tag=tag) }}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}

        {% if number == count %}
        <li class="disabled">
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li>
            <a href="{{ url_for('blog.tag_num',tag=tag,number=number+1) }}" aria-label="Previous">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}

