<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HonMaple</title>

        {% assets "home_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "home_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        <style type="text/css">
            html,body{height:100%}
            .footer {margin-top:-30px;height:30px;}
            .wrap{min-height:100%}
            .main{padding-bottom:30px;overflow:hidden;}
            li {
                list-style:none;
            }
        </style>
    </head>
    <body>
        <div class="wrap">
            <div class="main">
                <nav class="navbar navbar-default" style="padding:0 11%;">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ url_for('admin.index') }}">主页</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li> <a href="{{ url_for('blog.type',type='linux') }}">Linux</a></li>
                                <li> <a href="{{ url_for('blog.type',type='python') }}">Python</a></li>
                                <li> <a href="{{ url_for('blog.type',type='python') }}">生活随笔</a></li>
                                <li><a href="{{ url_for('admin.about') }}">关于我</a></li>
                            </ul>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    {% if session.logged_in %}
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Admin
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="{{ url_for('admin.index') }}">我的主页</a></li>
                                            <li><a href="{{ url_for('admin.logout') }}">退出</a></li>
                                        </ul>
                                    </div>
                                    {% else %}
                                    <button type="button" class="btn btn-default navbar-btn" >
                                        <a href="{{ url_for('admin.login') }}">Sign in</a>
                                    </button>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div style="padding:0 11%;">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }} </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="footer">
            <div style="text-align:center">
                Copyright © 2015 JiangLin. All rights reserved.
            </div>
        </div>
    </body>
</html>

