<!DOCTYPE html>
{% if number == 1 %}
{% extends 'blog/blog_base.html' %}
{% else %}
{% extends 'blog/blog_category_base.html' %}
{% endif %}
{% block content %}
<div class="row ">
    <div class="col-sm-9" >
        <ul>
            {% for article in articles %}
            <li>
                <span>
                    <h4> <a href="{{ url_for('blog.page',id=article.id) }}" target=_blank>{{ article.title }}</a></h4>
                    <h5>
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        {{ article.publish }}
                        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                        {% for tag in article.tag_article %}
                        <a href="{{ url_for('blog.tag_num',tag=tag.name) }}" style="color:#000">{{ tag.name }}</a>
                        {% endfor %}
                        <br />
                        <br />
                        {{ article.content | truncate(255, True)| safe_markdown }}
                    </h5>
                </span>
                <span style="display:block;text-align:right;width:100%;"> 
                    <a href="{{ url_for('blog.page',id=article.id) }}">more>></a>
                </span>
                <div style="border-bottom:1px dashed #000000;width:100%;padding:0;"></div>
            </li>
            {% else %}
            <li>No post.</li>
            {% endfor %}
        </ul>
        <div style="text-align:center;">
            <ul class="pagination">
                {% if number == 1 %}
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('blog.index_num',number=number-1) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                {% for num in range(count) %}
                {% set num = num + 1 %}
                {% if num == number %}
                <li class="active"><a href="{{ url_for('blog.index_num',number=num) }}">{{ num }}</a></li>
                {% else %}
                <li><a href="{{ url_for('blog.index_num',number=num) }}">{{ num }}</a></li>
                {% endif %}
                {% endfor %}

                {% if number == count %}
                <li class="disabled">
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('blog.index_num',number=number+1) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item" style="text-align:center;">
                <img src="{{ url_for('static',filename='images/header.png') }}" alt="头像" width="60%" /> <br />
                <span style="display: inline-block;width:80%;" class="label label-default">
                    <a href="{{url_for('index.about')}}" style="color:#fff;"> 
                        Author
                    </a>
                </span>
                <span style="display: inline-block;width:80%;" class="label label-primary">
                    About me
                </span>
                <br />
                <span>
                    <i>I like solitude, yearning for freedom </i>
                </span>
            </li>
            <li class="list-group-item">Social
                <br />
                <a href="http://github.com/honmaple">GitHub</a>
                <a href="http://github.com/honmaple">Google+</a>
                <a href="http://github.com/honmaple">V2ex</a>
                <a href="http://github.com/honmaple">Stackoverflow</a>
            </li>
            <li class="list-group-item">Tags: <br />
                {% for tag in all_tags %}
                <span class="label label-primary" style="display: inline-block;">
                    <a href="{{ url_for('blog.tag_num',tag=tag.name) }}" style="color:#fff;">{{ tag.name }}</a>
                </span>
                {% endfor %}
            </li>
            <li class="list-group-item">Links
                <br />
                <a href="http://honmaple.com">我的博客</a>
                <br />
                <a href="http://flask.pocoo.org/">flask官网</a> 
            </li>
        </ul>
    </div>
</div>
{% endblock %}

