{% extends 'blog/blog_base.html' %}
{% block content %}
<div class="panel panel-default">
    <!--<div class="panel-heading">{{ reply['name']的评论 }}</div>-->
    <div class="panel-body">
        <form action="{{ url_for('blog.page',path=path) }}" method="POST">
            {{ form.hidden_tag()}}
            {{ form.reply(class="form-control",placeholder="写下你的回复" ,style="height:80px;") }}
            <br />
            {{ form.post_reply(class="btn btn-primary") }}
        </form>
    </div>
    <!--<div class="panel panel-info">-->
    <!--{% for reply in all_reply %}-->
        <!--<div class="panel-heading" style="padding:0 10px;">-->
        <!--{{ reply['name'] }}于-->
        <!--{{ reply['publish'] }}发表:-->
        <!--</div>-->
        <!--<div class="panel-body">-->
        <!--{{ reply['reply'] }}-->
        <!--</div>-->
    <!--{% endfor %}-->
    <!--</div>-->
</div>


{% endblock %}
