{% extends 'blog/base.html' %}

{% block item %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-calendar text-main"></i>
      {{ _("Archives By Datetime") }}
    </div>
    <div class="panel-body">
      {% for k,v in blogs.items() %}
        <ul class="timeline">
          <h4>
            {{ k }}
            <span class="timeline-count">{{ "（%s篇文章）" | format(v | length) }}</span>
          </h4>
          {% for blog in v %}
            <li class="itemline-item">
              <p class="timeline-date {% if not loop.first %}timeline-item-more{% endif %}">
                {{ blog.created_at.strftime("%m月%d日") }}
              </p>
              <div class="timeline-content">
                <a href="{{ url_for('blog.blog',pk=blog.id) }}">{{ blog.title }}</a>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
{% endblock item %}

{% block panel -%}
  {% include "blog/archives-panel.html" %}
{%- endblock panel %}
