{% macro label_archive_show(label,count,label_name='tag') -%}
<span class="label label-primary blog-label">
  <a href="{{ url_for('blog.bloglist',**{label_name:label.name}) }}">
    {{ label.name }}
    <span class="badge">{{ count }}</span>
  </a>
</span>
{%- endmacro %}

{% macro time_archive_show(year, month, count) -%}
<div class="panel-body" style="padding:1px 16px;">
  {% set year = year | int %}
  {% set month = month | int %}
  <a class="a-blue" href="{{ url_for('blog.archive',year=year,month=month) }}">{{ _('%(year)s-%(month)s',year=year,month=month) }}</a>
  <small>({{ count }})</small>
</div>
{%- endmacro %}

{% macro archive_collapse(name) -%}
<div class="panel-footer blog-collapse" title="{{ _('open') }}">
  <a data-toggle="collapse" href="#blog-{{ name }}-hidelist">
    <i class="fa fa-angle-double-down"></i>
  </a>
</div>
{%- endmacro %}

<div class="panel panel-default trans">
  <div class="panel-heading"  style="background-color:rgba(255, 255, 255, 0.3);">
    {{ _('Archives By Time') }}
  </div>
  {% for year,month,count in times[:9] %}
  {{ time_archive_show(year, month, count) }}
  {% endfor %}
  <span class="collapse" id="blog-time-hidelist">
    {% for year,month,count in times[9:] %}
    {{ time_archive_show(year, month, count) }}
    {% endfor %}
  </span>
  {{ archive_collapse('time') }}
</div>
<div class="panel panel-default trans">
  <div class="panel-heading"  style="background-color:rgba(255, 255, 255, 0.3);">
    {{ _('Archives By Category') }}
  </div>
  <div class="panel-body">
    {% for category,count in category_archives() %}
    {{ label_archive_show(category, count, 'category') }}
    {% endfor %}
  </div>
</div>
<div class="panel panel-default trans">
  <div class="panel-heading"  style="background-color:rgba(255, 255, 255, 0.3);">
    {{ _('Archives By Tags') }}
  </div>
  <div class="panel-body">
    {% set tags = tag_archives() %}
    {% for tag,count in tags[:5] %}
    {{ label_archive_show(tag, count) }}
    {% endfor %}
    <div class="collapse" id="blog-tag-hidelist">
      {% for tag,count in tags[5:] %}
      {{ label_archive_show(tag, count) }}
      {% endfor %}
    </div>
  </div>
  {{ archive_collapse('tag') }}
</div>
