{% extends 'base/base.html' %}

{% block header -%}
  <a class="navbar-brand text-main" href="{{ url_for('blog') }}">{{ _("honmaple") }}</a>
{%- endblock header %}

{% block content -%}
  <div class="row">
    <div class="col-sm-9" style="padding-right: 5px;">
      {% block item -%}
      {%- endblock item %}
    </div>
    <div class="col-sm-3" style="padding-left: 0px;">
      {% block panel -%}
        {% include 'blog/panel.html' %}
      {%- endblock panel %}
    </div>
  </div>
  <div class="blog-back-top">
    <a href="#bs-header"><i class="fa fa-hand-o-up" aria-hidden="true"></i></a>
  </div>
{%- endblock content %}
