{% extends 'blog/base.html' %}
{% from 'blog/_macro.html' import info %}

{% block item -%}
<ul class="media-list">
  {%- for blog in blogs.items -%}
  <li class="media blog">
    <h3><a href="{{ url_for('blog.blog',blogId=blog.id) }}">{{ blog.title }}</a></h3>
    <hr style="max-width:none" />
    <div class="media-body">
      <div class="pull-left" style="margin-right:10px;">
        {{ info(blog) }}
      </div>
      <div class="blog-content blog-list-content">
        <script>hljs.initHighlightingOnLoad();</script>
        {% if blog.content_type == "0" %}
        {{ blog.content | truncate(512) | safe_markdown }}
        {% else %}
        {{ blog.content | truncate(512) | orgmode }}
        {%- endif -%}
      </div>
      <div class="media-footer text-right" style="margin-top:auto;display:block;width:100%;">
        <a href="{{ url_for('blog.blog',blogId=blog.id) }}">read more</a>
      </div>
    </div>
  </li>
  {% endfor -%}
  {% set category = request.args.get('category') %}
  {% set tag = request.args.get('tag') %}
  {% set author = request.args.get('author') %}
  {{ paginate(blogs,'blog.bloglist',dict(category=category,tag=tag,author=author)) }}
</ul>
{% endblock %}
