{% extends 'blog/base.html' %}
{% from 'blog/_macro.html' import info %}

{% block item -%}
<div class="category" style="padding:0 15px;">
  <h1 class="text-center" style="font-size:30px;">{{ blog.title }}</h1>
  <span class="pull-right">
    {{ info(blog) }}
  </span>
  <div class="blog-content">
    <script>hljs.initHighlightingOnLoad();</script>
    {% if blog.content_type == "0" %}
    {{ blog.content | safe_markdown }}
    {% else %}
    {{ blog.content | orgmode }}
    {%- endif -%}
  </div>
  {%- if blog.is_copy == False -%}
  <div style="border-bottom:1px dashed #000000;width:60%;"></div>
  版权所有,转载请注明作者及出处
  {%- endif -%}
</div>
{% endblock %}

