{% extends 'base/base.html' %}
{% from 'blog/_macro.html' import header %}
{% from 'blog/_macro.html' import headerlist %}

{% block title -%}
{{_("HonMaple's Blog")-}}
{% endblock %}

{% block header -%}
{{ header() }}
{%- endblock header %}

{% block list -%}
{{ headerlist() }}
{%- endblock list %}

{% block content -%}
{% set blog = data %}
<div class="row">
    <div class="col-sm-9">
        <div class="category"  style="padding:0 15px;">
            {% from 'blog/_macro.html' import blogdetail %}
            {{ blogdetail(blog) }}
        </div>
    </div>
    <div class="col-sm-3" style="padding-left:0">
        {% include 'blog/panel.html' %}
    </div>
    <script type="text/javascript">
     $.get("{{ url_for('blog.commentlist',blogId=blog.id) }}",function(data){
         $('#blog-comment').html(data);
     });
    </script>
    <div class="col-sm-9" id="blog-comment">
    </div>
</div>
{% endblock %}

