{% set author = blog.user.username %}
{% set tags = blog.tags %}
{% set category = blog.category.name %}
<div class="blog-info">
  <span title="{{ blog.created_at }}">
    <i class="fa fa-calendar-o"></i>
    {{ _("Posted in") }}
    <span class="label label-success">{{ blog.created_at | timesince }}</span>
  </span>
  <span class="blog-info-sep">|</span>
  <span>
    <i class="fa fa-folder-o"></i>
    {{ _("Category") }}:
    <a href="{{ url_for('blog',category=category) }}" class="label label-default">{{ category }}</a>
  </span>
  <span class="blog-info-sep">|</span>
  <span>
    <i class="fa fa-bookmark-o"></i>
    {{ _("Tags") }}:
    {% for tag in blog.tags %}
      <a href="{{ url_for('blog',tag=tag.name) }}" class="label label-tag" style="display: inline-block;">{{ tag.name }}</a>
    {% endfor %}
  </span>
</div>
