{% extends 'blog/base.html' %}
{% from 'maple/paginate.html' import paginate %}

{% block item -%}
  <div class="blog-list">
    {% for blog in blogs.items -%}
      <article>
        <h1 class="blog-title"><a href="{{ url_for('blog.blog',pk=blog.id) }}">{{ blog.title }}</a></h1>
        {% include "blog/info.html" %}
        <hr/>
        <div class="blog-content">
          {{ blog.to_html() }}
        </div>
        <div class="text-center">
          <a class="btn blog-read-more" href="{{ url_for('blog.blog',pk=blog.id) }}">read more »</a>
        </div>
      </article>
    {% endfor -%}
    {% set kw = request.args.to_dict() %}
    {{ paginate(blogs,'blog',dict(tag=kw.get('tag'), category=kw.get('category'))) }}
  </div>
{% endblock %}

{% block script -%}
  {{ super() }}
  {% include "blog/highlight.html" %}
{%- endblock script %}
