{% extends 'blog/base.html' %}

{% block item -%}
  <article>
    <h1 class="blog-title">{{ blog.title }}</h1>
    {% include "blog/info.html" %}
    <hr/>
    <div class="blog-content">
      {{ blog.to_html(truncate=False) }}
    </div>
    <hr class="entry-hr" />
    <ul class="entry-pager">
      {% set next = blog.next_blog %}
      {% set previous = blog.previous_blog %}
      {% if previous %}
        <li class="previous">
          <a href="{{ url_for('blog.blog',pk=previous.id) }}" title="Previous article: {{ previous.title }}">
            <i class="fa fa-chevron-left"></i>
            {{ previous.title }}
          </a>
        </li>
      {% endif %}
      {% if next %}
        <li class="next">
          <a href="{{ url_for('blog.blog',pk=next.id) }}" title="Next article: {{ next.title }}">
            <i class="fa fa-chevron-right"></i>
            {{ next.title }}
          </a>
        </li>
      {% endif %}
    </ul>
  </article>
{% endblock %}

{% block panel -%}
  {% include 'blog/item-panel.html' %}
{%- endblock panel %}

{% block script -%}
  {{ super() }}
  {% include "blog/highlight.html" %}
{%- endblock script %}
