{% extends 'blog/base.html' %}
{% from 'maple/paginate.html' import paginate %}
{% import 'blog/macro.html' as macro %}

{% block item -%}
<script>
 $(document).ready(function() {
     $('pre').each(function(i, block) {
         hljs.highlightBlock(block);
     });
 });
</script>
{%- for blog in blogs.items -%}
<article class="blog-list">
  <h1 class="blog-title"><a href="{{ url_for('blog.blog',pk=blog.id) }}">{{ blog.title }}</a></h1>
  <hr/>
  <div class="blog-content">
    <div class="blog-info">
      {{ macro.info(blog) }}
    </div>
    {% if blog.content_type == "0" %}
    {{ blog.content | truncate(512) | safe_markdown }}
    {% else %}
    {{ blog.content | truncate(512) | orgmode }}
    {%- endif -%}
  </div>
  <div class="text-center">
    <a class="btn blog-read-more" href="{{ url_for('blog.blog',pk=blog.id) }}">read more</a>
  </div>
</article>
{% endfor -%}
{% set category = request.args.get('category') %}
{% set tag = request.args.get('tag') %}
{% set author = request.args.get('author') %}
{{ paginate(blogs,'blog.bloglist',dict(category=category,tag=tag,author=author)) }}
{% endblock %}
