{% macro aplayer() -%}
<div id="player" class="aplayer"></div>
<script type="text/javascript" src="https://cdn.bootcss.com/aplayer/1.5.8/APlayer.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='lib/aplayer/aplayer.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='lib/aplayer/aplayer.css') }}" type="text/css" media="screen" />
<br/>
{%- endmacro %}

{% macro timeline() -%}
<div id="timeline"></div>
<script type="text/javascript">
 $.get("{{ url_for('timeline',from='blog') }}", function(response){
     $("#timeline").html(response);
 });
</script>
{%- endmacro %}

{% macro info(blog) -%}
{% set author = blog.user.username %}
{% set tags = blog.tags %}
{% set category = blog.category.name %}
<footer>
  <i class="fa fa-calendar"></i>
  <abbr title="{{ blog.created_at }}">
    <span class="label label-success">{{ blog.created_at | timesince }}</span>
  </abbr>
  <address style="margin-top:8px">
    <i class="fa fa-user"></i>
    <a href="{{ url_for('blog.bloglist',author=author) }}" class="label label-primary">{{ author }}</a>
  </address>
  <address style="margin-top:-12px">
    <i class="fa fa-leaf"></i>
    <a href="{{ url_for('blog.bloglist',category=category) }}" class="label label-default" style="display: inline-block;">{{ category }}</a>
  </address>
  <address class="hidden-xs" style="margin-top:-12px">
    <i class="fa fa-tags"></i>
    {% for tag in tags %}
    <a href="{{ url_for('blog.bloglist',tag=tag.name) }}" class="label label-tag" style="display: inline-block;">{{ tag.name }}</a>
    {% endfor %}
  </address>
  <address style="margin-top:-12px">
    <i class="fa fa-eye"></i>
    <span class="label label-info">{{ blog.read_times }}</span>
  </address>
</footer>
{%- endmacro %}
