<div class="media">
  <div class="media-left">
    <a href="{{ url_for('about') }}">
      <img class="media-object" src="{{ url_for('static',filename='images/header.png') }}" alt="..." style="width:64px;">
    </a>
  </div>
  <div class="media-body" style="padding-top:9px;">
    <h4 class="media-heading">lin.jiang</h4>
    <i style="font-size:0.8em;">{{ _('I like solitude, yearning for freedom') }}</i>
  </div>
</div>
<ul class="list-inline blog-social">
  <li>
    <a href="https://github.com/honmaple" target="_blank" title="GitHub"><i class="fa fa-github"></i></a>
  </li>
  <li>
    <a href="mail@honmaple.com" target="_blank" title="Gmail"><i class="fa fa-envelope"></i></a>
  </li>
  <li>
    <a href="https://www.facebook.com/honmaple" target="_blank" title="FaceBook"><i class="fa fa-facebook"></i></a>
  </li>
  <li>
    <a href="https://www.facebook.com/honmaple" target="_blank" title="FaceBook"><i class="fa fa-leaf"></i></a>
  </li>
</ul>
<div class="blog-friend">
  <a href="{{ url_for('friend') }}">
    <span class="fa fa-link"></span> {{ _('Friends') }}
  </a>
  <a href="{{ url_for('friend') }}">
    <span class="fa fa-rss"></span> {{ _('RSS') }}
  </a>
</div>
<div class="blog-tag">
  {% for category,count in category_archives() %}
    <span class="label label-primary blog-label">
      <a href="{{ url_for('blog.bloglist',category=category.name) }}">
        {{ category.name }}
        <span class="badge">{{ count }}</span>
      </a>
    </span>
  {% endfor %}
</div>
