{% extends "base/base.html" %}
{% import 'base/header.html' as header %}
{% block header -%}
{{ header.header('index') }}
{% endblock %}
{% block list -%}
{{ header.list('index') }}
{% endblock %}
{% block content %}
<script type=text/javascript>
$(document).ready(function(){
    $('button#ajax').click(function() {
        $.ajax ({
            type : "POST",
            url : "{{ url_for('index.forget') }}",
            data:JSON.stringify({
                confirm_email: $('#confirm_email').val()
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function(result) {
                if (result.judge == true)
                {
                    window.location = '{{ request.args.get('next') or '/' }}';
                }
                else 
                {
                    $("#showerror").show();
                    $("#error").text(result.error);
                }
            }
        });
    });
});
</script>
<table align="center" style="font-size:14px;">
    <tr>
        <td colspan="2">
            <div class="alert alert-info" id="showerror" style="padding:8px;">
                <button type="button" class="close" id="hide">
                    <span aria-hidden="true">&times;</span>
                </button>
                <ul>
                    <li id="error"></li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding-right:5px;">{{ form.confirm_email.label }} </td>
        <td style="padding-bottom:10px;"> {{ form.confirm_email(class="form-control",placeholder="email",style="width:240px;") }}</td>
    </tr>
    <tr>
        <td></td>
        <td style="padding-bottom:10px;">
            <button type="button" class="btn btn-primary" id="ajax">确认</button> 
        </td>    
    </tr>
</table>
{% endblock %}


