{% import 'base/header.html' as header %}
{% extends 'base/base.html' %}
{% block header -%}
{{ header.header('index') }}
{% endblock %}
{% block list -%}
{{ header.list('index') }}
{% endblock %}

{% block title -%}
HonMaple
{%- endblock %}

{% block content %}
<div class="col-sm-8 category" style="padding:0">
    <div id="index" class="carousel slide col-sm-6 hidden-xs padgin" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#index" data-slide-to="0" class="active"></li>
            <li data-target="#index" data-slide-to="1"></li>
            <li data-target="#index" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{ url_for('static',filename='images/Moo.png') }}" alt="moon" style="width:100%;">
                <div class="carousel-caption">
                    <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                    {{ notice.notice }}
                </div>
            </div>
            <div class="item">
                <img src="{{ url_for('static',filename='images/Moo.png') }}" alt="moon" style="width:100%;">
                <div class="carousel-caption">
                    Hello HonMaple
                </div>
            </div>
            <div class="item">
                <img src="{{ url_for('static',filename='images/Moo.png') }}" alt="moon" style="width:100%;">
                <div class="carousel-caption">
                    {{ _('This my website.Welcome and you can give me some suggestion')}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 font-big">
        <h4>
            <a class="header-color" href="{{ url_for('blog.index_num') }}">
                {{_('Recent Articles')}}
            </a>
        </h4>
        <p>
            {% for article in articles %}
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            <a href="{{ url_for('blog.view',id=article.id) }}">{{ article.title }}</a>
            <br />
            {% endfor %}
        </p>
    </div>
</div>
<div class="col-sm-4 category">
    <div class="font-big">
        <h4>
            <a class="header-color" href="{{ url_for('question.index') }}">
                {{_('Recent Answers')}}
            </a>
        </h4>
        <p>
            {% for question in questions %}
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            <a href="{{ url_for('question.question_view',id=question.id) }}">{{ question.title }}</a>
            <br />
            {% endfor %}
        </p>
    </div>
</div>
{% for article in articles %}
{%- if loop.index >= 3 %}{% break %}{% endif %}
<div class="col-sm-12 category">
    <h3>
        <a href="{{ url_for('blog.view',id=article.id) }}">{{ article.title }}</a>
    </h3>
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    <span class="tags">
        {{- article.publish.strftime('%Y-%m-%d') -}} | {{_('tags')}}:
        {%- for tag in article.tags %}
        <a class="header-color" href="{{ url_for('blog.tag_num',tag=tag.name) }}">{{ tag.name }}</a>
        {% endfor -%} | {{_('read')}}:{{- article.id | visit_total -}}
    </span>
    <span>
        {{ article.content | truncate(255, True)| safe_markdown }}
    </span>
    {%- if loop.index == 2 -%}
    <a class="btn btn-primary btn-sm" href="{{ url_for('blog.index_num') }}" role="button">
        {{_('more')}}
    </a>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
