<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HonMaple</title>

        {% assets "home_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "home_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        <style type="text/css">
            html,body{height:100%}
            .container {width:1368px;}
            .footer {margin-top:-30px;height:30px;}
            .wrap{min-height:100%}
            .main{padding-bottom:30px;overflow:hidden;}
            li {
                list-style:none;
            }
        </style>
    </head>
    <body>
        <div class="wrap">
            <div class="main">
                <div class="navbar navbar-default" style="padding:0 11%;">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#manager" aria-expanded="false">
                                <span class="sr-only"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ url_for('admin.index') }}">后台管理</a>
                        </div>
                        <div class="collapse navbar-collapse" id="manager">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ url_for('index.index') }}">主页</a></li>
                                <li><a href="{{ url_for('admin.admin_account') }}">用户管理</a></li>
                                <li><a href="{{ url_for('admin.admin_comment') }}">评论管理</a></li>
                                <li><a href="{{ url_for('admin.admin_article') }}">文章管理</a></li>
                                <li><a href="{{ url_for('admin.admin_question') }}">问答管理</a></li>
                                <li><a href="{{ url_for('admin.admin_post') }}">增加文章</a></li>
                                <li>
                            <form class="navbar-form navbar-left" role="search">
                                    <input type="text" class="form-control" placeholder="Search">
                            </form>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                {% if current_user.is_authenticated %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ current_user.name }} <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url_for('index.logined_user',name=current_user.name) }}">我的的主页</a></li>
                                        <li><a href="{{ url_for('index.logout') }}">注销</a></li>
                                    </ul>
                                </li>
                                {% else %}
                                <li><a href="{{ url_for('index.login') }}">登陆</a></li>
                                <li><a href="{{ url_for('index.sign') }}">注册</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div style="margin:0 11%;">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }} </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="footer">
            <div style="text-align:center">
                Copyright © 2015 JiangLin. All rights reserved.
            </div>
        </div>
    </body>
</html>

