{% extends 'admin/admin_base.html' %}
{% block content %}
<div class="panel panel-default">
    <div >
        <table class="table table-hover">
            <tr>
                <th>NO.</th>
                <th>问答题目</th>
                <th>问答描述</th>
                <th>问答答案</th>
                <th>发表作者</th>
                <th>发表时间</th>
                <th>操作</th>
            </tr>
            {% for question in questions %}
            <tr>
                <td>{{ question['id'] }}</td>
                <td>{{ question['title'] }}</td> 
                <td>{{ question['describ'] }}</td>
                <td>{{ question['answer'] }}</td>
                <td>{{ question['user'] }}</td>
                <td>{{ question['publish'] }}</td>
                <td> 
                    <table>
                        <tr>
                            <td>
                                <a href="#" style="white-space:nowrap;">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
