{% extends 'admin/admin_base.html' %}
{% block content %}
<div class="panel panel-default">
    <div >
        <table class="table table-hover">
            <tr>
                <th>NO.</th>
                <th>问答题目</th>
                <th>问答描述</th>
                <th>问答答案</th>
                <th>发表作者</th>
                <th>发表时间</th>
                <th>操作</th>
            </tr>
            {% for question in questions %}
            <tr>
                <td>{{ question['id'] }}</td>
                <td> <a href="{{ url_for('question.question_view',title=question.title) }}">{{ question['title'] }}</a></td> 
                <td>{{ question['describ'] }}</td>
                <td>{{ question['answer'] }}</td>
                <td>{{ question['user'] }}</td>
                <td>{{ question['publish'] }}</td>
                <td> 
                    <table>
                        <tr>
                            <td>
                                <a href="{{ url_for('admin.admin_edit',category='question',post_id=question.id) }}" style="white-space:nowrap;" target=_blank>
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-trash" 
                                    data-toggle="modal" data-target="#delete" aria-hidden="true" style="color:#337ab7">
                                </span>
                                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content" style="margin:20% 27%;">
                                            <div class="modal-body">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="deleteLabel">是否确认删除?</h4>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary">
                                                    <a href="{{ url_for('admin.admin_delete',category='qestion',post_id=question.id) }}" 
                                                        style="white-space:nowrap;color:#fff">
                                                        确认删除
                                                    </a>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
