{% extends 'admin/admin_base.html' %}
{% block content %}

{% if category == 'article' %}
<form action="{{ url_for('admin.admin_edit_save',category=category,post_id=post_id) }}" method="POST">
    {{ form.hidden_tag()}}
    {{ form.title.label }}
    {{ form.title(class="form-control") }}
    {{ form.category.label }}
    {{ form.category(class="form-control") }}
    {{ form.tags.label }}
    {{ form.tags(class="form-control") }}
    {{ form.content.label }}
    {{ form.content(class="form-control",rows="10") }}
    <br />
    {{ form.post(class="btn btn-primary") }}   
</form>
{% elif category == 'question' %}
<form action="{{ url_for('admin.admin_edit_save',category=category,post_id=post_id) }}" method="POST">
    {{ form.hidden_tag()}}
    {{ form.title.label }}
    {{ form.title(class="form-control") }}
    {{ form.describ.label }}
    {{ form.describ(class="form-control",rows="3") }}
    {{ form.answer.label }}
    {{ form.answer(class="form-control",rows="12") }}
    {{ form.post(class="btn btn-primary") }}   
</form>
{% else %}
<form action="{{ url_for('admin.admin_edit_save',category=category,post_id=post_id) }}" method="POST">
    {{ form.hidden_tag()}}
    {{ form.name.label }}
    {{ form.name(class="form-control") }}
    {{ form.is_confirmed.label }}
    {{ form.is_confirmed(class="form-control") }}
    {{ form.is_superuser.label }}
    {{ form.is_superuser(class="form-control") }}
    {{ form.roles.label }}
    {{ form.roles(class="form-control") }}
    {{ form.edit(class="btn btn-primary") }}   
</form>
{% endif %}
{% endblock %}
