<!--
    Copyright © 2015 JiangLin. All rights reserved.
    File Name: admin.html
    Author:JiangLin 
    Mail:xiyang0807@gmail.com 
    Created Time: 2015-11-25 05:13:25
-->
{% extends 'admin/admin_base.html' %}
{% block content %}

<div>
        <form action="{{ url_for('admin.admin_post') }}" method="POST">
            {{ form.hidden_tag()}}
            {{ form.title.label }}
            {{ form.title(class="form-control",placeholder="Title",style="width:60%") }}
            {{ form.category.label }}
            {{ form.category(class="form-control",placeholder="Category") }}
            {{ form.tags.label }}
            {{ form.tags(class="form-control",placeholder="Tags xx,xx,xx") }}
            {{ form.summary.label }}
            {{ form.summary(class="form-control",placeholder="Summary") }}
            {{ form.content.label }}
            {{ form.content(class="form-control",rows="10") }}
            <br />
            {{ form.post(class="btn btn-primary") }}   
        </form>
</div>
{% endblock %}
