{% extends 'admin/admin_base.html' %}
{% block content %}
<ul class="nav nav-tabs text-center"  role="tablist">
    <li style="width:50%;" role="presentation" class="active"><a href="#comment" aria-controls="comment" role="tab" data-toggle="tab">评论管理</a></li>
    <li style="width:50%;" role="presentation"><a href="#reply" aria-controls="reply" role="tab" data-toggle="tab">回复管理</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="comment">
        <div class="panel panel-default">
            <table class="table table-hover">
                <tr>
                    <th>NO.</th>
                    <th>评论文章</th>
                    <th>评论内容</th>
                    <th>评论用户</th>
                    <th>评论时间</th>
                    <th>操作</th>
                </tr>
                {% for comment in comments %}
                <tr>
                    <td>{{ comment['id'] }}</td>
                    <td> <a href="{{ url_for('blog.page',id=comment.article.id) }}" target=_blank>{{ comment.article.title }}</a></td> 
                    <td>{{ comment.content }}</td> 
                    <td> <a href="{{ url_for('index.logined_user',name=comment['user']) }}">{{ comment['user'] }}</a></td>
                    <td>{{ comment['publish'] }}</td>
                    <td> 
                        <table>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-trash" 
                                          data-toggle="modal" data-target="#delete" aria-hidden="true" style="color:#337ab7">
                                    </span>
                                    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content" style="margin:20% 27%;">
                                                <div class="modal-body">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="deleteLabel">是否确认删除?</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary">
                                                        <a href="{{ url_for('admin.admin_delete',category='comment',post_id=comment.id) }}" 
                                                           style="white-space:nowrap;color:#fff">
                                                            确认删除
                                                        </a>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="reply">
        <div class="panel panel-default">
            <table class="table table-hover">
                <tr>
                    <th>NO.</th>
                    <th>回复文章</th>
                    <th>回复主题</th>
                    <th>回复内容</th>
                    <th>回复用户</th>
                    <th>回复时间</th>
                    <th>操作</th>
                </tr>
                {% for comment in comments %}
                {% for reply in comment.replies %}
                <tr>
                    <td>{{ reply.id }}</td> 
                    <td> <a href="{{ url_for('blog.page',id=comment.article.id) }}" target=_blank>{{ comment.article.title }}</a></td> 
                    <td>{{ comment.content }}</td>
                    <td>{{ reply.content }}</td> 
                    <td> <a href="{{ url_for('index.logined_user',name=reply['user']) }}">{{ reply['user'] }}</a></td>
                    <td>{{ reply.publish }}</td> 
                    <td> 
                        <table>
                            <tr>
                                <td>
                                    <a href="{{ url_for('admin.admin_delete',category='reply',post_id=reply.id) }}" 
                                       style="white-space:nowrap;">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
