<!--
  Copyright © 2015 JiangLin. All rights reserved.
  File Name: linux.html
  Author:JiangLin 
  Mail:xiyang0807@gmail.com 
  Created Time: 2015-11-18 08:15:05
-->
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HonMaple</title>

        {% assets "home_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "home_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        <style type="text/css">
            html,body{height:100%}
            .footer {margin-top:-30px;height:30px;}
            .wrap{min-height:100%}
            .main{padding-bottom:30px;overflow:hidden;}
        </style>
    </head>
    <body>
        <div class="wrap">
            <div class="main">
                <div>
                    <nav class="navbar navbar-default navbar-static-top">
                        <div class="container-fluid" style="padding: 0 150px;">
                            <div class="navbar-header">
                                asdasasd
                            </div>
                            <div class="collapse navbar-collapse" style="0 150px 0 0">
                                <ul class="nav navbar-nav" >
                                    <li role="presentation" class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                            个人博客<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li> linux</li>
                                            <li> python</li>
                                        </ul>
                                    </li>
                                    <li>book</li>
                                    <li >about</li>
                                </ul>
                                <button type="button" class="btn btn-default navbar-btn" style="float:right;">
                                撒较简单
                                </button>
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="form-group " width="120px">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
                <div style="margin:0 150px;">
                </div>
            </div>
        </div>
        <div class="footer">
            <div style="text-align:center">
                Copyright © 2015 JiangLin. All rights reserved.
            </div>
        </div>
    </body>
</html>
