{% extends 'admin/admin_base.html' %}
{% block content %}


<div class="row">
    <a href="{{ url_for('blog.index_num') }}">返回首页</a>
    <table style="width:100%;">
        <tr>
            <td align="center">
                <h2>{{ article.title }}</h2>
            </td>
        </tr>
        <tr>
            <td align="right">
                {{ article.publish }} <br />
                {% for tag in tags %}
                <span class="label label-primary" >
                    <a href="{{ url_for('blog.tag_num',tag=tag.name) }}" style="color:#fff;">{{ tag.name }}</a>
                </span>
                &nbsp
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                <div style="border-bottom:1px dashed #000000;width:100%;"></div>
            </td>
        </tr>
    </table>
    <div width="100%" style="padding:0 4%;" >
        <p>
        {{ content }}
        </p>
    </div>
</div>
{% endblock content %}
