{% macro header() -%}
<a class="navbar-brand" href="{{ url_for('index.index') }}" style="color:#EB5424;">HonMaple</a>
{%- endmacro %}

{% macro headerlist() -%}
<ul class="nav navbar-nav">
    <li><a href="{{ url_for('blog.bloglist') }}">{{_('Blog')}}</a></li>
    <li><a href="{{ url_for('book.booklist') }}">{{ _('Books')}}</a></li>
    <li><a href="{{ url_for('question.quelist') }}">{{ _('Answer')}}</a></li>
    <li><a href="https://cloud.honmaple.com">{{ _('Cloud')}}</a></li>
    <li><a href="{{ url_for('index.about') }}">{{_('About me')}}</a></li>
</ul>
{%- endmacro %}
