{% set tags = article.tags %}
{% set category = article.category.name %}
<div class="entry-info">
  <span title="{{ article.created_at }}">
    <i class="fa fa-calendar-o"></i>
    {{ _("Posted in") }}
    <span class="label label-success">{{ article.created_at | timesince }}</span>
  </span>
  <span class="entry-info-sep">|</span>
  <span>
    <i class="fa fa-folder-o"></i>
    {{ _("Category") }}
    <a href="{{ url_for('blog.articles',category=category) }}" class="label label-default">{{ category }}</a>
  </span>
  <span class="entry-info-sep">|</span>
  <span>
    <i class="fa fa-bookmark-o"></i>
    {{ _("Tags") }}
    {% for tag in article.tags %}
      <a href="{{ url_for('blog.articles',tag=tag.name) }}" class="label label-tag" style="display: inline-block;">{{ tag.name }}</a>
    {% endfor %}
  </span>
  <span class="entry-info-sep hidden-xs">|</span>
  <span class="hidden-xs">
    <i class="fa fa-eye"></i>
    {{ _("Read") }}
    <span class="label label-times">
      {{ article.read_times }}
    </span>
  </span>
</div>
