{% extends 'base/base.html' %}
{% from 'common/_macro.html' import header %}
{% from 'common/_macro.html' import headerlist %}

{% block title -%}
{{_("HonMaple's Blog")-}}
{% endblock %}

{% block header -%}
{{ header() }}
{%- endblock header %}

{% block list -%}
{{ headerlist() }}
{%- endblock list %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading" style="background-color:#EB5424;">
        {{ _('About') }}
    </div>
    <div class="panel-body">
        关于我
    </div>
</div>
{% include "chat.html" %}
{% endblock %}
