{% extends 'base/base.html' %}
{% import 'base/header.html' as header %}
{% block header -%}
{{ header.header('blog') }}
{% endblock %}
{% block list -%}
{{ header.list('blog') }}
{% endblock %}

{% block title -%}
Archives - HonMaple的个人博客
{% endblock %}

{% block content %}
<div class="category" style="padding:0 15px;">
    <h2>Archives of honmaple</h2>
    {% for article in articles %}
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    {{ article.publish.strftime('%Y年%m月%d日  %H:%M:%S') }}
    <a href="{{ url_for('blog.view',id=article.id) }}">{{ article.title }}</a>
    <br />
    {% endfor %}
</div>
<div style="text-align:center;margin-top:-15px">
    <ul class="pagination">
        {% if number == 1 %}
        <li class="disabled">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% else %}
        <li>
            <a href="{{ url_for('blog.archives',number=number-1) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% for num in range(count) %}
        {% set num = num + 1 %}
        {% if num == number %}
        <li class="active"><a href="{{ url_for('blog.archives',number=num) }}">{{ num }}</a></li>
        {% else %}
        <li><a href="{{ url_for('blog.archives',number=num) }}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}

        {% if number == count %}
        <li class="disabled">
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li>
            <a href="{{ url_for('blog.archives',number=number+1) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock content %}
