{% extends 'base/base.html' %}
{% import 'base/header.html' as header %}
{% block header -%}
{{ header.header('blog') }}
{% endblock %}
{% block list -%}
{{ header.list('blog') }}
{% endblock %}
{% block content %}
<div class="col-sm-9" style="padding:0 4px;">
    {% include "blog/link.html" %}
    <div style="text-align:center;margin-top:-15px">
        <ul class="pagination">
        {% if number == 1 %}
        <li class="disabled">
        <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
        <li>
        <a href="{{ url_for('blog.tag_num',tag=tag,number=number-1) }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for num in range(count) %}
        {% set num = num + 1 %}
        {% if num == number %}
        <li class="active"><a href="{{ url_for('blog.tag_num',number=num,tag=tag) }}">{{ num }}</a></li>
        {% else %}
        <li><a href="{{ url_for('blog.tag_num',number=num,tag=tag) }}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}

        {% if number == count %}
        <li class="disabled">
        <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
        <li>
        <a href="{{ url_for('blog.tag_num',tag=tag,number=number+1) }}" aria-label="Previous">
        <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
        </ul>
        </div>
</div>
{% include 'blog/panel.html' %}
{% endblock %}

