{% extends 'base/base.html' %}
{% import 'base/header.html' as header %}
{% block header -%}
{{ header.header('blog') }}
{% endblock %}
{% block list -%}
{{ header.list('blog') }}
{% endblock %}

{% block title -%}
{{_("HonMaple's Blog")-}}
{% endblock %}

{% block content -%}
<div class="col-sm-9 cate">
    {% include 'blog/link.html' %}
    {% import "base/page.html" as page %}
    {{ page.page('blog.index_num',number=number,pages=count) }}
</div>
{% include 'blog/panel.html' %}
{% endblock %}

