{% extends 'base/base.html' %}
{% import 'base/header.html' as header %}
{% block header -%}
{{ header.header('blog') }}
{% endblock %}
{% block list -%}
{{ header.list('blog') }}
{% endblock %}

{% block title -%}
{{ article.title }} - {{ _("HonMaple's Blog") -}}
{% endblock %}
{% block style -%}
{{ super()}}
<style>
 h1 {
     font-size:30px;
 }
 h2 {
     font-size:27px;
 }
 blockquote {
     font-size:16px;
     color:#999;
 }
 ul {
     padding-left:16px;
 }
 ol {
     padding-left:16px;
 }
 li {
     list-style-type:circle;
 }
</style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-9">
        <div class="category"  style="padding:0 15px;">
            <table style="width:100%;">
                <tr>
                    <td align="center">
                        <h2>{{ article.title }}</h2>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> :
                        {% for tag in article.tags %}
                        <span class="label label-info" style="display:inline-block;">
                            <a href="{{ url_for('blog.tag',tag=tag.name) }}" style="color:#fff">{{ tag.name }}</a>
                        </span>
                        {% endfor %}
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>:
                        {{ article.publish.strftime('%Y-%m-%d %H:%M:%S') }}</span>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        作者:{{ article.author }}
                        浏览次数:{{ article.id | visit_total }}
                        <br/>
                        Updated:{{ article.updated }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="border-bottom:1px dashed #000000;width:100%;"></div>
                    </td>
                </tr>
            </table>
            <div class="content" style="font-size:16px;">
                {{ article.content | safe_markdown }}
                {%- if article.copy == False -%}
                <div style="border-bottom:1px dashed #000000;width:60%;"></div>
                版权所有,转载请注明出处及作者
                {%- endif -%}
            </div>
        </div>
        <div class="panel panel-info" id="#comment">
            <div class="panel-heading">
                评论 
            </div>
            <div class="panel-body" style="padding:0px;">
                <form action="{{ url_for('blog.comment',id=article.id) }}" method="POST">
                    {{ comment_form.hidden_tag()}}
                    {{ comment_form.comment(class="form-control",placeholder="写下你的评论" ,style="height:80px;border-radius:0") }}
                    {{ comment_form.post_comment(class="btn btn-info btn-sm",style="margin-top:5px;") }}
                </form>
            </div>
            {% for comment in article.comments %}
            <div class="panel-heading">
                {{ comment.author }}于{{ comment.publish.strftime('%Y-%m-%d %H:%M')}}发表
            </div>
            <div class="panel-body">
                {{ comment.content }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-3" style="padding-left:0">
        {% include 'blog/panel.html' %}
    </div>
</div>
{% endblock content %}
