{% extends "index/base.html" %}
{% block content %}
<div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
        <br />
        <form action="{{ url_for('index.login') }}" method="POST" class="form-horizontal">
            {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
            {{ form.hidden_tag()}}
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ form.name.label }}</label>
                <div class="col-sm-6">
                    {{ form.name(class="form-control",placeholder="name",style="width:240px") }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ form.passwd.label }}</label>
                <div class="col-sm-6">
                    {{ form.passwd(class="form-control",placeholder="password",style="width:240px") }}
                </div>
            </div>
            <div class="form-group" style="margin-top:-5px">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form.sign_in(class="btn btn-primary",style="margin-right:10px") }}
                    <a href="{{ url_for('index.forget') }}">忘记密码?</a>
                    <br />
                    {{ form.remember_me() }} 
                    记住我
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <a href="{{ url_for('index.sign') }}">还未注册</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-2">
    </div>
</div>
{% endblock %}


