{% extends "index/base.html" %}
{% block content %}

<div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
        <br />
        <form action="{{ url_for('index.sign') }}" method="POST" class="form-horizontal">
            {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
            {{ form.hidden_tag()}}
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ form.name.label }}</label>
                <div class="col-sm-9">
                    {{ form.name(class="form-control",placeholder="name") }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ form.email.label }}</label>
                <div class="col-sm-9">
                    {{ form.email(class="form-control",placeholder="email") }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ form.passwd.label }}</label>
                <div class="col-sm-9">
                    {{ form.passwd(class="form-control",placeholder="password") }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form.register(class="btn btn-primary") }}   
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-2">
    </div>
</div>
{% endblock %}


