{% extends 'base/base.html' %}
{% from 'common/_macro.html' import header %}
{% from 'common/_macro.html' import headerlist %}

{% block title -%}
{{_("HonMaple's Blog")-}}
{% endblock %}

{% block header -%}
{{ header() }}
{%- endblock header %}

{% block list -%}
{{ headerlist() }}
{%- endblock list %}

{% block content %}
<style>
 .td-bottom {
     padding-bottom:10px;
 }
</style>
{% set name = dict(name=current_user.username) %}
<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation"><a href="{{ url_for('user.infor',**name) }}">个人资料</a></li>
    <li role="presentation" class="active"><a href="{{ url_for('user.password',**name) }}">账户安全</a></li>
    <li role="presentation"><a href="{{ url_for('user.blog',**name) }}">全部文章</a></li>
    <li role="presentation"><a href="{{ url_for('user.comment',**name) }}">全部回复</a></li>
    <li role="presentation"><a href="{{ url_for('user.question',**name) }}">全部问答</a></li>
</ul>
<form action="{{ url_for('user.password',**name) }}" method="POST">
    {{ form.hidden_tag()}}
    <table style="font-size:14px;margin-top:10px;" align="center">
        <tr>
            <td> <b>输入密码:</b></td>
            <td class="td-bottom"> {{ form.passwd(class="form-control",placeholder="Password") }}</td>
        </tr>
        <tr >
            <td> <b>新密码:</b></td>
            <td class="td-bottom">{{ form.new_passwd(class="form-control",placeholder="New Password") }}</td>
        </tr>
        <tr >
            <td> <b>重复新密码:</b></td>
            <td class="td-bottom">{{ form.retry_new_passwd(class="form-control",placeholder="New Password") }}</td>
        </tr>
        <tr >
            <td></td>
            <td><button type="submit" class="btn btn-primary">修改</button></td>
        </tr>
    </table>
</form>
{% endblock %}
