{% extends 'base/base.html' %}
{% from 'common/_macro.html' import header %}
{% from 'common/_macro.html' import headerlist %}

{% block title -%}
{{_("HonMaple's Blog")-}}
{% endblock %}

{% block header -%}
{{ header() }}
{%- endblock header %}

{% block list -%}
{{ headerlist() }}
{%- endblock list %}

{% block content %}
<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="{{ url_for('user.infor',name=current_user.username) }}">个人资料</a></li>
    <li role="presentation"><a href="{{ url_for('user.password',name=current_user.username) }}">账户安全</a></li>
    <li role="presentation"><a href="{{ url_for('user.blog',name=current_user.username) }}">全部文章</a></li>
    <li role="presentation"><a href="{{ url_for('user.comment',name=current_user.username) }}">全部回复</a></li>
    <li role="presentation"><a href="{{ url_for('user.question',name=current_user.username) }}">全部问答</a></li>
</ul>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">账户名称</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.username }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">注册邮箱</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.email }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">验证状态</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.is_confirmed }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">注册日期</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.registered_time }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">所在学校</label>
        <div class="col-sm-10">
            <p class="form-control-static" id="showSchool">{{ user.school }}</p>
            <span class="glyphicon glyphicon-edit" id="reviseSchool" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">个人介绍</label>
        <div class="col-sm-9">
            <p class="form-control-static" id="showIntroduce">{{ user.introduce }}</p>
            <span class="glyphicon glyphicon-edit" id="reviseIntroduce" aria-hidden="true"></span>
        </div>
    </div>
</div>
{% endblock %}
