{% extends 'base/base.html' %}
{% from 'common/_macro.html' import header %}
{% from 'common/_macro.html' import headerlist %}

{% block title -%}
{{_("HonMaple's Blog")-}}
{% endblock %}

{% block header -%}
{{ header() }}
{%- endblock header %}

{% block list -%}
{{ headerlist() }}
{%- endblock list %}

{% block script -%}
{{ super() }}
<script type="text/javascript">
 $(document).ready(function(){
     $('a#email').click(function(){
         $.ajax ({
             type : "POST",
             url : "{{ url_for('auth.confirm') }}",
             data:JSON.stringify({
             }),
             contentType: 'application/json;charset=UTF-8',
             success: function(response) {
                 if (response.description !== "")
                     {
                         alert(response.description);
                     }
                 else
                     {
                         alert(response.message);
                     }
             }
         });
     });
 });
</script>
{%- endblock script %}

{% block content %}
{% if not current_user.is_confirmed %}
<div class="alert alert-info" style="padding:6px">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    你的账户未验证,请尽快验证,否则无法评论或回复或发表问题
    <a id="email" class="btn btn-info btn-sm">验证账户</a>
</div>
{% endif %}
{% set name = dict(name=current_user.username) %}
<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="{{ url_for('user.infor',**name) }}">个人资料</a></li>
    <li role="presentation"><a href="{{ url_for('user.password',**name) }}">账户安全</a></li>
    <li role="presentation"><a href="{{ url_for('user.blog',**name) }}">全部文章</a></li>
    <li role="presentation"><a href="{{ url_for('user.comment',**name) }}">全部回复</a></li>
    <li role="presentation"><a href="{{ url_for('user.question',**name) }}">全部问答</a></li>
</ul>
<form class="form-horizontal" action="{{ url_for('user.infor',**name) }}" method="POST">
    {{ form.hidden_tag()}}
    <div class="form-group">
        <label class="col-sm-2 control-label">账户名称</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.username }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">注册邮箱</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.email }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">验证状态</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.is_confirmed }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">注册日期</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.registered_time }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">所在学校</label>
        <div class="col-sm-10">
            {{ form.school(class="form-control") }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">个人介绍</label>
        <div class="col-sm-9">
            {{ form.introduce(class="form-control") }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button type="submit" class="btn btn-primary">确认</button>
        </div>
    </div>
</form>
{% endblock %}
